/*.txt {
    *//*line-height:16pt;*//*
    font-family: arial;
    font-size: 15px;
    color: black;
    *//*background: #3366CC;*//*
}*/

body, td, th {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 12px;

    font-family:'Microsoft Yahei', 'Microsoft Jhenghei', STHeiti, PMingLiU, Simsun;
    /*font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;*/

    color: #1d1007;
    line-height: 24px;
    background-color: #f5f6f7;
    /*height: 100%;
    width: 100%;*/
}

body,span,a,td,th {
    padding: 0px;
    margin: 0px;
}

.size-13 {
    font-size: 13px;
}
/*
@font-face {
    font-family: 'ZilSlab';
    src: url('zil-webfont.eot');
    src: url('zil-webfont.eot?#iefix') format('embedded-opentype'),
    url('zil-webfont.woff') format('woff'),
    url('zil-webfont.ttf') format('truetype'),
    url('zil-webfont.svg#ZilSemiSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
   */
.i_container {
    /*
    background-color: #5f9ea0;    */
    width: 960px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.i_container_index {

    /*background-color: #f5deb3;*/
    width: 960px;
    height: 500px;
    margin:-250px 0 0 -480px ;
    position: absolute;
    top: 50%;
    left: 50%;
}

.i_header {
    /*background-color: #a52a2a;*/
    height: 60px;
}

.i_logo {
    background-color: white;
    float: left;
    width:300px;
    height: 60px;
}
.i_logo span{
    font-size: 50px;
    line-height: 60px;
    font-family: 'ZilSlab';
    /*height: auto;*/
}

.i_slogo {
    background-color: #7cfc00;
    height: 60px;
    width: 660px;
    float: left;
}
.i_slogo span{
    font-size: 15px;
    background-color: blue;

}
.i_content{
    background-color: #fa8072;
}

.i_float_right{
    float:right;
}

.i_little_nav{
    width: 95px;
    height: 25px;
    margin: 5px 20px 0 0;
    background-color: #2e8b57;
    clear: right;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.line_height_22{
    line-height: 22px;
}

.font_size_20{
    font-size: 20px;
}

.line_height_14{
    line-height: 14px;
}